@using bitirmeProje.Domain.Entities;
@{
    var groups = ViewBag.Groups as List<Group>;
}

<div>
    <div class="suggestions">
        <div class="title">
            <h4>Sizin İçin Grup Önerileri</h4>
        </div>
        @foreach (var item in groups)
        {
            <div class="cart">
                <div>
                    <div class="img">
                        @if (string.IsNullOrEmpty(item.ImageUrl))
                        {
                            <img src="/groupImage/group-photo.jpg" alt="" class="fixed-size-image-40">
                        }
                        else
                        {
                            <img src="@item.ImageUrl" alt="Group Image" class="fixed-size-image-40">
                        }
                    </div>
                    <div class="info">
                        <a class="name" style="cursor:pointer; color:black"  href="/Group/Index?id=@item.Id">@item.GroupName</a>
                        <p class="second_name">@item.GroupDescription</p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<script src="~/js/groupListComponent.js"></script>
<script src="~/js/group.js"></script>
