@using bitirmeProje.Domain.Entities;
@{
    var groups = ViewBag.Groups as List<Group>;
}

<div>
    <div class="suggestions">
        <div class="title">
            <h4>Sizin İçin Grup Önerileri</h4>
        </div>
        @foreach (var item in groups)
        {
            <div class="cart">
                <div>
                    <div class="img">
                        <img src="/images/profile_img.jpg" alt="">
                    </div>
                    <div class="info">
                        <a class="name" style="cursor:pointer; color:black"  href="/Group/Index?id=@item.Id">@item.GroupName</a>
                        <p class="second_name">@item.GroupDescription</p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<script src="~/js/groupListComponent.js"></script>
<script src="~/js/group.js"></script>
