<style>
    .survey-container {
        justify-content: center; /* Yatayda ortala */
        margin-top: 20px;
    }
</style>
<div class="second_container">
    <!--***** posts_container start ****** -->
    <div class="main_section">
        <div class="posts_container">
            <div class="stories">
                <div class="owl-carousel items owl-loaded owl-drag">
                    <div class="owl-stage-outer">
                        <div class="owl-stage" style="transform: translate3d(-542px, 0px, 0px); transition: all 0s ease 0s; width: 2104px;">
                        </div>
                    </div><div class="owl-nav disabled"><button type="button" role="presentation" class="owl-prev"><span aria-label="Previous">‹</span></button><button type="button" role="presentation" class="owl-next"><span aria-label="Next">›</span></button></div><div class="owl-dots"><button role="button" class="owl-dot active"><span></span></button><button role="button" class="owl-dot"><span></span></button><button role="button" class="owl-dot"><span></span></button></div>
                </div>
            </div>

            <div class="posts">
                @await Component.InvokeAsync("SurveyComponent", null)
            </div>

        </div>
    </div>
    <div class="followers_container">
        @await Component.InvokeAsync("GroupListComponent")
    </div>

</div>



